# tmp.txt files being created as part of a batch file:
tmp.txt
# compilation build folder:
*.build
# terminal compilation error report:
nuitka-crash-report.xml
# GIT_IGNORED folders:
GIT_IGNORED
# package installation records:
RECORD
# scratchpad test script:
scripts/test.py
# generated caches:
__pycache__
*.pyc
*.pyo
# temporary signal file to signal correct program start:
*.signal
.startup_time_markers/*
