# Entries in this file will not be synchronized in git

# ============================
# ==== general gitignores ====
# ============================
# python cache folders:
__pycache__
# shortcuts in root folder:
/*.lnk
# whitelist sync of realitve-path-shortcut:
!RUN BEFORE FIRST START AND AFTER FOLDER MOVE TO GENERATE SHORTCUTS.lnk
# log files:
log.txt
# temporary id files for no-terminal start:
*.pid
# ===================================================

# =============================
# ==== specific gitignores ====
# =============================

# ADD YOUR GITIGNORES HERE

# ==============================


