# Entries in this file will not be synchronized in git

# ============================
# ==== general gitignores ====
# ============================
# python cache folders:
__pycache__
# shortcuts in root folder:
/*.lnk
# whitelist sync of realitve-path-shortcut:
!RUN BEFORE FIRST START AND AFTER FOLDER MOVE TO GENERATE SHORTCUTS.lnk
# log files:
log*.txt
# temporary id files for no-terminal start:
*.pid
# generated portable Python environment:
/code/py_env/
# output files of developer tools:
developer_tools/*.txt
# whitelist specific files in developer tools folder:
!developer_tools/_README.txt
!developer_tools/!DEFAULT_PYHON_PACKAGES.txt
# ===================================================

# =============================
# ==== specific gitignores ====
# =============================

# ADD YOUR GITIGNORES HERE

# ==============================
