# Entries in this file will not be synchronized in git. 
# "!" before whitelists synchronization.
# "*" represents any number of wildcard symbols.
# Lines with "#" will be ignored.

# ============================
# ==== general gitignores ====
# ============================

# shortcuts in this folder:
/*.lnk
# whitelist shortcut to generate shortcuts in this folder:
!/▶*.lnk
# contents of "logs" folder in this folder:
/logs/*
# contents of "crash logs" folder in this folder:
/crash logs/*
# whitelist ".gitkeep" files anywhere:
!.gitkeep
# ".vscode" folder anywhere:
.vscode

# =============================
# ==== specific gitignores ====
# =============================

# ADD YOUR GIT IGNORE SYNCING RULES HERE
