# Auto detect text files and perform LF normalization:
* text=auto
# Force git to use CRLF for batch files to not break them:
*.bat text eol=crlf
*.cmd text eol=crlf
# Keep Windows shortcuts byte-for-byte intact.
*.lnk binary
