# python cache:
__pycache__
*.pyc
*.pyo
# temporary process id indicator files:
*.pid

# ===================================================

# =============================
# ==== specific gitignores ====
# =============================

# ADD YOUR GITIGNORES HERE