###########################
### general gitignores: ###
###########################
# last GUI settings
GUI_settings.ini
###########################


###########################
### specific gitignores: ##
###########################


