# Auto detect text files and perform LF normalization:
* text=auto
# Force git to use CRLF for batch files to not break them:
*.bat text eol=crlf
# In oder that GitHub treats these as vendored and Git does not try to diff binaries:
packages/** linguist-vendored
packages/**/*.dll binary
packages/**/*.pyd binary
packages/**/*.exe binary
packages/**/*.chm binary
python/** linguist-vendored
python/**/*.dll binary
python/**/*.pyd binary
python/**/*.exe binary
python/**/*.chm binary