# python cache:
__pycache__
*.pyc
*.pyo
# generated Python distro folder in this folder:
/python/
# generated packages folder in this folder:
/packages/
# whitelist file in packages folder in this folder:
!/packages/USE developer_tools FOLDER (IN PARENT FOLDER) TO CHANGE PACKAGES