# tmp.txt files being created as part of a batch file:
tmp.txt
# compilation build folder:
*.build
# DO_NOT_SYNC folders:
DO_NOT_SYNC
# package installation records:
python_packages/*/RECORD
# generated console entry points from pip --target:
python_packages/bin/
# terminal compilation error report:
terminal_emulator/nuitka-crash-report.xml
# generated caches:
__pycache__
*.pyc
*.pyo
