# tmp.txt files being created as part of a batch file:
tmp.txt
# compilation build folder:
*.build
# terminal compilation error report:
nuitka-crash-report.xml
# DO_NOT_SYNC folders:
DO_NOT_SYNC
# package installation records:
RECORD
# generated caches:
__pycache__
*.pyc
*.pyo
# temporary signal file to signal correct program start:
*.signal
.startup_time_markers/*
